@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.landing_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuisine_items{
  list-style-type: none;
  display: flex;
  gap : 20px;
}

.cuisine_listItems{
  padding: 30px;
}

.cuisine_listItems button{
  padding: 10px;
  background-color: #ef4f5f;
  border: none;
  border-radius: 5px;
  color: #fff;
}